#myName {
      text-align: center;
      font-size: 80px;
    }
#projectundername {
      text-align: center;
      font-size: 36px;
    }
.row {

      padding-top: 100px;
     
    }
#contactheader {
	text-align: center;
	font-size: 20px;
}
    
